body {
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: sticky; */
  top: 0;
  background-color: #f2f2f2;
  overflow: hidden;
  border-radius: 10px;
  padding: 5px;
}

.menu-items {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex: 1;
  gap: 10px;
}

.menu a {
  flex: 1;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
  background-color: #870000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu span {
  flex: 1;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
  color: white;
}

.menu .company-icon img {
  height: 30px;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 10px;
}

.section {
  padding: 10px;
  color: white;
  text-align: center;
  /* min-height: 100vh; */
}

.section1,
.section3 {
  background: #870000;
  background: -webkit-linear-gradient(to top, #190a05, #870000);
  background: linear-gradient(to top, #190a05, #870000);
}

.section2,
.section4 {
  background: #870000;
  background: -webkit-linear-gradient(to bottom, #190a05, #870000);
  background: linear-gradient(to bottom, #190a05, #870000);
}

.box {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #000;
}

.border-box {
  border-radius: 40px;
  border-style: none;
  display: flex;
  align-items: stretch;
  height: 90%;
  position: relative;
  flex-direction: column;
  ul {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  h4 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.basic-color {
  color: #3C8CE7;
}

.media-color {
  color: #f38e14;
}

.alta-color {
  color: #F8D800;
}

.super-color{
  color: #9c08d2;
}

.basic {
  background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
}

.media {
  background-image: linear-gradient( 135deg, #FDD819 10%, #E80505 100%);
}

.alta {
  background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
}

.detalhe {
  background-image: linear-gradient( 135deg, #F0FF00 10%, #58CFFB 100%);
}

.super {
  background-image: linear-gradient( 135deg,#130251 10%, #db0590 100% );
  color: #fff;
}

.avatar {
  width: 100%;
  height: 90vh;
  max-height: 500px;
  object-fit: cover;
  object-position: center top;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  align-content: stretch;
  flex-wrap: wrap;
  flex: 1;
  gap: 20px;
  width: 100%;
}

ul {
  display: block;
  margin-left: -10px;
  margin-right: 10px;
  text-align: left;
  color: #000;
}

ul li {
  display: block;
  position: relative;
}

ul li:not(:last-child) {
  margin-bottom: 16px;
}

ul li:before {
  content: '';
  position: absolute;
  top: 1.2em;
  left: -20px;
  margin-top: -0.9em;
  background: #870000;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.whats-app {
  position: fixed;
  z-index: 99;
  right: 20px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  color: white;
  box-sizing: unset;
  border-radius: 50%;
  box-shadow: 0px 4px 10px 0px rgba(37, 211, 102, 0.2);
  transition: all 0.3s ease-in-out 0s;
  animation-delay: 6s;
  animation: chat-pulsate 6s infinite;
  transform: scale(1);
  filter: drop-shadow(rgb(37, 211, 102) 0px 0px 8px);
  border: unset;
  img {
    width: 60px;
  }
}

@keyframes chat-pulsate {
	0% {
    border-radius: 50%;
		transform: scale(0.80);
	}

	70% {
    border-radius: 50%;
		transform: scale(1);
	}

	100% {
    border-radius: 50%;
		transform: scale(0.80);
	}
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.redes-sociais-image {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  img {
    width: 60px;
    height: 60px;
    margin: 0px 30px;
  }
  img:nth-child(2) {
    width: 80px;
    height: 80px;
    margin: 0px 30px;
  }
}

.logo {
  position: absolute;
  top: -7px;
  left: 0;
  background-image: url(navarro-nr.png);
  border-radius: 20px;
  width: 100%;
  height: 64px;
  max-width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  /* Outras regras de estilo para o corpo da página */
}

h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  /* Outras regras de estilo para títulos e parágrafos */
}

button, a, p {
  font-family: 'Roboto', sans-serif;
  /* Outras regras de estilo para botões */
}

